:root{
    --vermelho:#d00000;
    --vermelho_escuro:#540b0e;
    --vermelho_medio:#6a040f;
    --cinza:#f5f3f4;
    --cinza_escuro:#adb5bd;
    --errobg:lightpink;
    --texto: #ffffff;
    --dark: #090909;
}

*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;  
}

body{
    padding: 10px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
}

.center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-body{
    background-color: var(--vermelho_medio);
}
